*{
    margin: 0;
    padding: 0;
}

form{
    width: 500px;
    margin: 200px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li span{
    width: 160px;
    font-size: 30px;
    word-wrap: break-word;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#window-text{
    font-size: 30px;
    word-wrap: break-word;
    display: inline-block;
    text-align: center;
    padding: 5px 10px 0;
    height: 300px;
}

textarea{
    resize: none;
    width: 400px;
    margin: 0 auto;
    height: 305px !important;
    box-sizing: border-box;
}

form input{
    outline:none;
    text-indent: 5px;
    width: 200px;
    height: 30px;
    border-radius: 10px 0 0 10px;
}

#add{
    border: 0;
    border-radius: 0 10px 10px 0;
    color: white;
    width: 100px;
    height: 34px;
    background-color: blue;
}

#add:hover{
    cursor: pointer;
    opacity: 0.8;
}

ul{
    width: 500px;
    margin: 100px auto 0;
    list-style: none;
}

ul li{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    padding: 5px 0;
}

ul li input, #content-div input[type="text"]{
    width: 156px;
}

.active-item{
    text-decoration: line-through;
    color: gray;
}

.grayed-out{
    background-color: gray;
}

#myList button, #content-div button{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 25px;
}

#myList input[type="checkbox"], #content-div input[type='checkbox']{
    height: 25px;
    width: 25px;
    background-color: #eee;
}

#content-div{
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: none;
    border-radius: 15px;
    text-align: center;
    color: black;
    box-shadow: 0 0 30px 0 black;
}

#content-div:last-child{
    align-self: end;
}

#content-div #close-window{
    width: 25px;
    height: 25px;
    float: right;
    background-color: red;
    border-radius: 10px;
}

.removeItem{
    background-color: red !important;
}

/*#content-div span{*/
/*    !*width: 100%;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*!*.editText{*!*/
/*!*    width: 156px;*!*/
/*!*    text-align: center;*!*/
/*!*    margin:7.5px auto;*!*/
/*!*}*!*/

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controls input, .controls button{
    margin: 120px 10px 0;
}

#content-div > button:first-of-type{
    margin-left: auto;
}



