*{
    margin: 0;
    padding: 0;
}

form{
    width: 500px;
    margin: 200px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span{
    width: 160px;
    font-size: 30px;
    word-wrap: break-word;
    display: inline-block;
}

form input{
    width: 200px;
    height: 30px;
}

#add{
    border: 0;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 34px;
    background-color: blue;
    margin-left: 10px;
}

ul{
    width: 500px;
    margin: 100px auto 0;
    list-style: none;
}

ul li{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

.active-item{
    text-decoration: line-through;
}

.grayed-out{
    background-color: gray;
}

#myList button{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 25px;
}

#myList input[type="checkbox"]{
    height: 25px;
    width: 25px;
    background-color: #eee;
}



